section {
  padding-left: calc(300px + 2rem);
}

.btn {
  background-color: #ffcc33 !important;
  color: #302c25 !important;
}

/* Navigation */

.sidenav {
  background-color: #191713 !important;
}

.logo {
  padding-top: 4rem;
}

.socials {
  font-size: 1.2rem;
  padding-top: 3rem;
}

.socials a {
  background-color: #fff;
  color: #191713;
  border-radius: 50%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  height: 100%;
  width: 100%;
}

.socials .col:hover > a {
  background-color: #ffcc33;
  transition: ease 0.3s;
}

.socials .col:hover > a {
  color: #fff;
}

.menu {
  padding-top: 1.5rem;
}

.menu li:hover > a {
  color: #fff !important;
  background: none !important;
  transition: ease 0.3s;
}

ul li a {
  color: #ffcc33 !important;
  text-align: center;
}

/* About section */
.about {
  color: #302c25;
}
.about p {
  font-size: 1.5rem;
}

.about p:nth-child(1) {
  margin: 0;
  opacity: 0.8;
}

.about h1 {
  font-weight: 500;
  margin: 0;
}

.about h1 :last-child {
  color: #ffcc33;
}

/* Skills section */

.skills hr {
  width: 5rem;
  border: 5px solid #ffcc33;
  position: relative;
  margin-left: 10px;
}

.skills ul li {
  padding: 5px;
}

.skills ul li::before {
  content: "\2022";
  color: #ffcc33;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

/* Mobile */
@media only screen and (max-width: 992px) {
  section {
    padding-left: 2rem;
  }

  .brand-logo img {
    height: 3rem;
    position: relative;
    top: 0.5rem;
  }
}
